* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.sea_section {
    background-color: #cbf5ff;
    height: 100%;
}

.sea {
    position: absolute;
    height: 15%;
    width: 100%;
}

.sea_box {
    height: 10%;
}

.sea_dark {
    background: url(../svg/sea_dark_short.svg);
    bottom: 6%;
    animation: sea_dark 3s ease-in-out infinite;
    z-index: 10;
}

.sea_middle_dark {
    background: url(../svg/sea_middle_dark_short.svg);
    bottom: 1%;
    animation: sea_middle_dark 2s ease-in-out infinite;
    z-index: 15;
}

.sea_light {
    height: 10%;
    background: url(../svg/sea_light_cut_short.svg);
    bottom: 0;
    animation: sea_light 3s ease-in-out infinite;
    z-index: 20;
}

@keyframes sea_dark {
    0%   { transform: translateY(0) translateX(0); }
    50%  { 
            transform: translateY(-2px) translateX(-3px);} 
}

@keyframes sea_middle_dark {
    0%   { transform: translateY(0) translateX(0); }
    50%  { 
            transform: translateY(-1px) translateX(5px);} 
}

@keyframes sea_light {
    0%   { transform:translateX(0); }
    50%  { 
            transform:translateX(-2px);} 
}

.ships{
    height: 70%;
}

.ship {
    position: absolute;
}

.ship_square {
    height: 70%;
    bottom: 0%;
    right: 8%;
    animation: ship 5s ease-in-out infinite;
    z-index: 16;
}

.ship_triangle {
    height: 45%;
    bottom: 10%;
    left: 8%;
    animation: ship_triangle 5s ease-in-out infinite;
    z-index: 11;
}

.ship_big {
    height: 50%;
    bottom: 15%;
    left: 20%;
    animation: ship 10s ease-in-out infinite;
    z-index: 9;
}


@keyframes ship {
    0%   { 
            transform:translateX(0) rotate(0deg) translateY(0) translateZ(0);}
    50%  { 
            transform:translateX(-20px) rotate(-2deg)  translateY(-3px) translateZ(2px);}
}

@keyframes ship_triangle {
    0%   { 
            transform:translateX(0) rotate(0deg) translateY(0) translateZ(0);}
    50%  { 
            transform:translateX(10px) rotate(2deg)  translateY(-3px) translateZ(2px);}
}

.mountains {
    height: 70%;
    position: absolute;
    bottom: 10%;
    right: 5%;
    z-index: 8;
}

.cloud_box {
    height: 10%;
}

.cloud {
    position: absolute;
}

.cloud_double {
    height: 15%;
    top: 5%;
    left: 5%;
    animation: cloud_double 20s ease-in-out infinite;
}

.cloud_1 {
    height: 20%;
    left: 40%;
    top: 15%;
    animation: cloud_1 30s ease-in-out infinite;
    z-index: 9;
}

.cloud_2 {
    height: 15%;
    top: 10%;
    left: 80%;
    animation: cloud_2 15s ease-in-out infinite;
}



@keyframes cloud_double {
    0%   { 
            transform:translateX(-140%) translateY(0) translateZ(0);}
    100%  { 
            transform:translateX(800%) translateY(-3%) translateZ(2px);}
}

@keyframes cloud_1 {
    0%   { 
            transform:translateX(-600%) translateY(0) translateZ(0);}
    100%  { 
            transform:translateX(900%) translateY(-3%) translateZ(2px);}
}

@keyframes cloud_2 {
    0%   { 
            transform:translateX(-900%) translateY(0) translateZ(0);}
    100%  { 
            transform:translateX(800%) translateY(-3%) translateZ(2px);}
}

.seagull_box {
    height: 10%;
}

.seagull {
    position: absolute;
}

.seagull_sea {
    height: 15%;
    bottom: 5%;
    left: 50%;
    z-index: 19;
    animation: seagull_sea 6s ease-in-out infinite;
}

.seagull_fly {
    height: 30%;
    left: 40%;
    top: 15%;
    animation: seagull_fly 8s ease-in-out infinite;
    z-index: 9;
}

@keyframes seagull_fly {
    0%   { 
            transform:translateX(700%) translateY(0) translateZ(0);}
    100%  { 
            transform:translateX(-400%) translateY(-3%) translateZ(2px);}
}

@keyframes seagull_sea {
    0%   { 
            transform:translateX(0) rotate(0deg) translateY(0) translateZ(0);}
    50%  { 
            transform:translateX(15px) rotate(2deg)  translateY(-3px) translateZ(2px);}
}