@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

.external { 
  background-color: yellow 
}

ul a {
  color: rgb(84, 107, 211);
  font-weight: bold;
  text-decoration: none;
}

ul a:hover {
  color: rgb(201, 0, 84);
  font-weight: bold;
}

button {
  font-size: 14pt;
  font-weight: bold;
  border: 1px solid black;
  color: black;
  background-color: white;
  width: 300px;
  height: 70px;
}

button:hover {
  cursor: pointer;
}