* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

.flags_block {
    padding-top: 100px;
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flag{
    margin-top: 25px;
    width: 130px;
    height: 80px;
    box-shadow: 0 0 3px 1px rgb(129, 129, 129);
    transition: 0.4s ease-in-out;
}

.flag:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 10px rgb(129, 129, 129);
}

.first {
    background-image: linear-gradient(to right, green 33.333%, white 33.333%, white 66.667%, rgb(255, 145, 0) 66.667%);    
}

.second {
    background-image: linear-gradient(45deg, red 60px, white 30px,white 65px, black 20px, black 90px, white 0px, white 95px, red 60px);    
}

.third {
    background-image: linear-gradient(135deg, green 30px, green 60px, yellow 20px, yellow 92px, red 20px);    
}

.fourth {
    background-image: linear-gradient(to bottom, red 20px, rgb(29, 0, 109) 10px, rgb(29, 0, 109) 40px, yellow 20px, yellow 60px, green 20px);    
}

.fifth {
    background-image: linear-gradient(to bottom, rgb(88, 196, 204) 25px, white 5px, white 30px, black 20px,black 50px, white 25px, white 55px, rgb(88, 196, 204) 30px);    
}

.sixth {
    background: linear-gradient(to bottom, red 50%, green 50%),
    linear-gradient(to right, white 50%, white 50%);
  background-repeat: no-repeat;
  background-size: 65% 100%;
  background-position: top right, 0 10px;
}