/*О нас*/


.main_block {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    top: 200px;
}
.main_title {
    text-align: right;
}
.main_img {
    position: relative;
}
.main_text {
    position: relative;
    left: 450px;
    width: 700px;
    bottom: 400px;
}
.main_title h1 {
    font-family: GothaProBla;
    font-size: 100px;
}
.main_title h2 {
    font-family: GothaProMed;
    font-size: 60px;
}
.main_title h3 {
    font-family: GothaProLig;
    font-size: 36px;
}
.text {
    margin: 15px;
}


.line {
    background-color: white;
    height: 6px;
    float: right;
    width: 50%;
    position: relative;
    bottom: 265px;
}


.line_1 {
    width: 50%;
    height: 6px;
    background-color: white;
    
    position: relative;
    top: 0px;
}
.line_2 {
    width: 50%;
    height: 6px;
    background-color: white;
    
    position: relative;
    top: 234px;
    float: right;
}
.line_3 {
    width: 50%;
    height: 6px;
    background-color: white;
    
    position: relative;
    top: 536px;
}
.second_block {
    position: relative;
    top: 50px;
    width: 1200px;
    margin: 0 auto;
}
.logo_block img {
    width: 260px;
    height: 100%;
}
.text_block_1 {
    font-family: GothaProMed;
    font-size: 36px;
    width: 600px;
}
.text_block_2 {
    text-align: right;
    position: relative;
    top: 100px;
    font-family: GothaProMed;
    font-size: 36px;
    width: 600px;
    float: right;
}
.text_block_3 {
    position: relative;
    font-family: GothaProMed;
    font-size: 36px;
    width: 600px;
    top: 420px;
}



/*  ПОДВАЛ  */
.footer {
    top: 650px;
}