/*Меню*/
/*Меню*/
#text h2 {
    font-family: "GothaProMed";
    font-size: 47px;
}

.text_img {
    font-family: "GothaProLig";
    font-size: 21px;
    color: white;
    text-decoration: none;
}

.block_store {
    width: 1200px;
    margin: 0 auto;
}
.text_store {
    position: relative;
    top: 200px;
}
.text_off {
    font-size: 60px;
    position: relative;
    top: 500px;
}
.text_top {
    font-family: "GothaProBla";
    font-size: 110px;
}
.text_down {
    font-family: "GothaProMed";
    font-size: 57px;
}
.off_white {
    width: 1200px;
    height: 447px;
    position: relative;
    top: 600px;
    
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,1);
}
.img_off {    
    justify-content: space-between;
}
.text_img {
    display: inline-block;
}
.text_img p {
    margin-top: 25px;
}
.text_img img {
    width: 300px;
    height: 310px;
    display: block;
}
.img_off a {
    margin-top: 40px;
    margin-left: 70px;
}
.img_off img {
    margin-top: 40px;
}
.line_store {
    width: 400px;
    height: 6px;
    background-color: white;
}
.lines {
    right: 25%;
}
.line_1 {
    position: absolute;
    top: 600px;
    
    background-color: white;
    height: 6px;
    width: 50%;
}

.line_2 {
    position: absolute;
    top: 1500px;
    
    background-color: white;
    height: 6px;
    width: 50%;
}

.line_3 {
    position: absolute;
    top: 2400px;
    
    background-color: white;
    height: 6px;
    width: 50%;
}

.line_4 {
    position: absolute;
    top: 3300px;
    
    background-color: white;
    height: 6px;
    width: 50%;
}

.line_5 {
    position: absolute;
    top: 4200px;
    
    background-color: white;
    height: 6px;
    width: 50%;
}


.brands {
    font-weight: 100px;
    font-size: 24.61px;
}

.menu_top_text {
    display: inline-block;
    vertical-align: top;
    margin-right: 62px;
    position: relative;
    top: 25px;
   font-family: "GothaProLig";
    text-decoration: none;
    color: #717171;
    
    transition: color 0.2s linear;
}
.menu_top_text::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    
    background-color: #717171;
    
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: background-color 0.2s linear;
}

.menu_top_text:hover::after {
    background-color: #505050;
}

.menu_top_text:hover {
    color: white;
}

.text_nike {
    font-size: 60px;
    position: relative;
    top: 900px;
}

.nike {
    width: 1200px;
    height: 447px;
    position: relative;
    top: 1000px;
   
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,1);
}

.img_nike {
justify-content: space-between;
}
.img_nike img {
    margin-top: 40px;
}
.img_nike a {
    margin-left: 70px;
}
.text_ad {
    font-size: 60px;
    position: relative;
    top: 1300px;
}

.adidas {
    width: 1200px;
    height: 447px;
    position: relative;
    top: 1400px;
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,1);
}

.img_ad {
justify-content: space-between;
}

.img_ad img {
    margin-top: 40px;
}
.img_ad a {
    margin-left: 70px;
}
.text_tommy {
    font-size: 60px;
    position: relative;
    top: 1700px;
}

.tommy {
    width: 1200px;
    height: 447px;
    position: relative;
    top: 1800px;
   
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,1);
}

.img_tommy {
justify-content: space-between;
}
.img_tommy img {
    margin-top: 40px;
}
.img_tommy a {
    margin-left: 70px;
}
.text_vans {
    font-size: 60px;
    position: relative;
    top: 2100px;
}

.vans {
    width: 1200px;
    height: 447px;
    position: relative;
    top: 2200px;
   
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,1);
}

.img_vans {
justify-content: space-between;
}
.img_vans img {
    margin-top: 40px;
}
.img_vans a {
    margin-left: 70px;
}
.podpis {
    text-align: center;
}


/*  ПОДВАЛ  */
.footer {
    top: 2300px;
}