/*  СЛАЙДЕР  */
#button {
    position: relative;
    text-align: center;
    top: 110px; 
    margin: 0 auto;
}
#slides article {
    width: 20%;
    float: left;
}
#slides .image {
    width: 500%;
    line-height: 0;
}
#overflow {
    width: 100%;
    overflow: hidden;
}
article img {
    width: 100%;
}
#desktop:checked ~ #button {
    max-width: 994px;
}
.slider input {
    display: none;
}


#switch1:checked ~ #slides .image {
	margin-left: 0;
}
#switch2:checked ~ #slides .image {
	margin-left: -100%;
}
#switch3:checked ~ #slides .image {
	margin-left: -200%;
}
#switch4:checked ~ #slides .image {
	margin-left: -300%;
}
#switch5:checked ~ #slides .image {
	margin-left: -400%;
}

#controls {
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}
#active label {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #5c5c5c;
    margin: 5px;
}
#active {
	margin: 15% 0 0;
	text-align: center;
}
#active label:hover {
	background: #878787;
}

#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5) {
	background: #c2c2c2;
}
#slides .image {
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
#overflow {
    box-shadow: 0 10px 20px 0px rgba(0,0,0,0.46);
}
/*  СЛАЙДЕР-конец  */

/*  ЛИНИЯ  */
.line {
    position: absolute;
    top: 700px;
    
    background-color: white;
    height: 6px;
    width: 50%;
}
/*  ЛИНИЯ-конец  */

/*  О НАС  */
.about_us {
    display: block;
    position: relative;
    text-align: center;
    top: 300px;
}
.about_us h1{
    font-family: GothaProBla;
    font-size: 60px;
}
.second_text h2 {
    font-size: 60px;
    font-family: GothaProMed;
}
.second_text {
    font-size: 48px;
    font-family: GothaProLig;
}
.line_2 {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    height: 6px;
    background-color: white;
}
.third_text {
    font-size: 48px;
    font-family: GothaProLig;
}
.third_text h2 {
    font-family: GothaProMed;
}
.store_button {
    display: block;
    width: 320px;
    height: 57px;
    background-color: white;
    margin: 0 auto;
    
    color: #181818;
    text-align: center;
    font-size: 60px;
    font-family: GothaProBla;
    padding-bottom: 65px;
}
.store_button_link {
    text-decoration: none;
}
.store_button p {
    text-align: center;
    vertical-align: middle;
}
/*  О НАС-конец  */

/*  АКЦИИ  */

.sales {
    padding: 50px;
    top: 400px;
    width: 100%;
    height: 1420px;
    display: block;
    position: relative;
    background-image: url(img/sales/SALES.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.sales img {
    display: block;
    margin: 0 auto;
    max-width: 990px;
    box-shadow: 25px 25px 0px 0px rgba(0,0,0,0.46);
}
.text_sales_first {
    width: 700px;
    height: 40px;
    background-color: white;
    text-align: center;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 150px;
    
    color: #181818;
    font-size: 35px;
    font-family: GothaProBla;
    
    box-shadow: 20px 25px 0px 0px rgba(0,0,0,0.46);
}
.text_sales_second {
    width: 340px;
    height: 80px;
    background-color: white;
    text-align: center;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 150px;
    
    color: #181818;
    font-size: 60px;
    font-family: GothaProBla;
    
    box-shadow: 20px 25px 0px 0px rgba(0,0,0,0.46);
}
.register {
    padding: 55px;
    margin: 0 auto;
    top: 250px;
    position: relative;
    width: 950px;
    height: 200px;
    background-color: #181818;
    display: block;
    
    box-shadow: 25px 25px 0px 0px rgba(0,0,0,0.46);
}
.register label {
    font-family: GothaProMed;
    font-size: 72px;
}

.register input[type=email] {
    padding-top: 15px;
    font-family: GothaProLig;
    font-size: 40px;
}
.register input[type=button] {
    appearance: none;
    border: 0;
    border-radius: 0;
    background-color: #181818;
    width: 460px;
    height: 75px;
    
    display: block;
    margin: 0 auto;
    position: relative;
    top: 100px;
    
    font-family: GothaProBla;
    font-size: 50px;
    color: white;
    cursor: pointer;
    
    box-shadow: 20px 20px 0px 0px rgba(0,0,0,0.46);
}
/*  АКЦИИ-конец  */

/*  ПОДВАЛ  */
.footer {
    top: 400px;
}
